# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs/
npm-debug.log*

# System files
.DS_Store

# IDE files
.vscode/
.idea/
# Add to .gitignore
frontend/client_secret_110469472851-6qagf9127o3glbgte1nd4n2sigcev0pe.apps.googleusercontent.com.json
# Add to .gitignore
frontend/Secrets.json

