body {
  background-color: #0077B6;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

div {
  margin: 0;
  padding: 0;
}

.main-container
{
margin: 0px;
padding: 0;
}

.achievements-section {
width: 1000px;
}


.achievements-heading {
  font-size: 20px;
  margin-left: 20%;
  color: white;
  margin-top: 300px; /* Removes any default top margin */
  padding-top: 0; /* Ensures no extra padding */
}

.achievements-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: calc(100% - 20%); 
  margin-left: 20%; 
  box-sizing: border-box;
}

.achievement {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  color: white;
}

.achievement-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.achievement p {
  margin: 0;
  font-size: 16px;
}

.divider {
  margin-left: 0%;
  width: 1280px;
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.certificates-heading {
  font-size: 20px;
  margin-left: 20%;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.certificates-container {
  width: calc(100% - 20%);
  margin-left: 20%;
  height: 200px;
  background-color: white;
  box-sizing: border-box;
  display: flex;  /* Enables Flexbox */
  justify-content: space-between; /* Spaces sections evenly */
  align-items: center;
}
.certificates-text {
  flex: 1;  /* Takes 50% of the width */
}

.certificates-heading {
  font-size: 20px;
  margin-left: 20%;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.certificates-container {
  width: calc(100% - 20%);
  margin-left: 20%;
  height: auto;
  background-color: white;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 20px;
  color: black;
  margin-bottom: 20px;
}

.certificates-container h4 {
  margin: 0;
  font-size: 18px;
}

.certificates-container p {
  margin: 5px 0;
  font-size: 16px;
}

.download-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0077B6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: green;
}

.certificate-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.certificate-img {
  width: 60%;
  height: auto;
  border: black solid 1px;
  border-radius: 15px;
  padding: 10px;
}